# Sublime Text
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
build/
dist/

# Package Control cache
Package Control.cache/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
